<div class="container mt-5">
  <h1 class="mb-4">お手伝いの登録</h1>

  <%= render 'form' %>

  <div class="mt-3">
    <%= link_to 'キャンセル', dashboard_parents_path, class: "btn btn-secondary" %>
  </div>
</div>
