<h1>報酬ページ</h1>

<table>
  <thead>
    <tr>
      <th>タスク名</th>
      <th>状態</th>
      <th>期限</th>
      <th>報酬</th>
    </tr>
  </thead>
  <tbody>
    <% @completed_tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.status %></td>
        <td><%= task.due_on %></td>
        <td><%= task.reward %>円</td>
      </tr>
    <% end %>
  </tbody>
</table>
