<div class="container mt-5">
  <h1 class="display-4 text-center mb-4">「やるゾウ」<br>子供のお手伝いを楽しく習慣化するアプリ</h1>
  
  <div class="text-center mb-4">
    <img src="/animal_zou.png" alt="Sample Image" class="img-fluid" style="max-width: 300px;">
  </div>

  <div class="intro-section mb-5 text-center">
    <p class="lead">家庭でのお手伝いは子供の成長や社会性の育成に欠かせないもの。<br>「やるゾウ」を使えば、子供たちのお手伝いを楽しく習慣化できます。</p>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary btn-lg mr-2" %> 
    <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-light btn-lg mr-2" %>
    <%= link_to "アカウント登録", new_user_registration_path, class: "btn btn-secondary btn-lg" %>
  </div>

  <div id="vue-intro" class="mt-5 text-center">
    <p>{{ dynamicMessage }}</p>
    <button @click="changeMessage" class="btn btn-info">メッセージを変更</button>
</div>


<div class="container mt-5">
  <!-- 特徴セクション -->
  <div class="row mb-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">楽しさと習慣化</h3>
          <p class="card-text">子供の家庭でのお手伝いを楽しく習慣化することで、子供の成長や社会性の育成に寄与します。</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">技術的特徴と問題解決</h3>
          <p class="card-text">「やるゾウ」はお手伝いの管理と子供たちの報酬システムを提供。タスクの進行状況、報酬のポイントシステムにより、子供のモチベーション維持や達成感を高めます。</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">親子の結びつき強化</h3>
          <p class="card-text">このアプリケーションは親と子供の結びつきを強化。子供のお手伝いを楽しむきっかけを作り、親は子供の成長を実感する機会を得ることができます。</p>
        </div>
      </div>
    </div>
  </div>

  <!-- 機能セクション -->
  <div class="row mb-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">タスクの登録・管理</h3>
          <p class="card-text">親はお手伝いのタスクを簡単に登録・管理できます。子供は自分のタスクの進行状況を確認し、状態を更新することができます。</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">報酬システム</h3>
          <p class="card-text">タスクの完了に応じて子供にポイントが付与されます。貯めたポイントは、様々な報酬と交換することができます。</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">アカウント管理</h3>
          <p class="card-text">ユーザーのアカウント作成、ログイン・ログアウトの機能を提供。親子関係の管理も簡単に行うことができます。</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'home_vue' %>
