/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* サイドメニューの基本スタイリング */
.side-menu {
  position: fixed;
  top: 0;
  left: 0px; /* 初期状態では非表示にしておく */
  width: 200px;
  height: 100%;
  background-color: #333;
  overflow-y: auto;
  color: white;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu li {
  padding: 10px 15px;
  border-bottom: 1px solid #444;
}

.side-menu a {
  color: white;
  text-decoration: none;
}

.side-menu a:hover {
  background-color: #555;
}

.main-content {
  margin-left: 210px; /* サイドメニューの幅 + 10px のマージンを適用 */
}


