/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Variables */
:root {
  --primary-color: #FFDAB9;
  --secondary-color: #4B0082;
  --alert-color: #FFB6C1;
  --font-primary: 'MPLUS1p', sans-serif;
}


/* Global Styles */
body {
  font-family: var(--font-primary);
}

.alert {
  position: relative;
  padding: 10px 15px;
  margin-bottom: 0;
  line-height: 1.5;
}

/* Side Menu Styles */
.side-menu {
  position: fixed;
  background-color: var(--primary-color);
  left: 0;
  top: 0;
  width: 80px;
  height: calc(100% - 60px);
  overflow-y: auto;
  color: var(--secondary-color);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu li {
  padding: 10px 15px;
  border-bottom: 1px solid var(--alert-color);
  text-align: center;
  font-size: 17px;
  transition: background-color 0.3s;
}

.side-menu a {
  color: var(--secondary-color);
  text-decoration: none;
}

.side-menu-hidden {
  display: none;
  width: 0
}

/* Main Content Styles */
.main-content {
  padding: 60px 0px 0px 0px;
  background-color: #FFF5EE;
  transition: margin-left 0.3s;
  
}

.main-content-no-menu {
  margin-left: 0;
}

/* Button Styles */
.btn-custom {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
}

.btn-custom:hover {
  background-color: var(--alert-color);
  color: white;
}

/* Card Styles */
.card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin-bottom: 30px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3, .card h4 {
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 12px;
  margin-bottom: 20px;
  font-size: 24px;
}

/* List Group Styles */
.list-group-item {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 20px;
  font-size: 18px;
  margin-bottom: 5px;
}

.list-group-item:last-child {
  border-bottom: none;
}

/* Task Status Colors */
.list-group-item[data-status="未着手"] {
  background-color: #89CFF0;
}

.list-group-item[data-status="着手中"] {
  background-color: #FFA500;
}

.list-group-item[data-status="完了"] {
  background-color: #32CD32;
}

.list-group-item[data-status="交換済み"] {
  background-color: #9370DB;
}

/* Point Display Styles */
.mb-3 {
  font-weight: bold;
  font-size: 20px;
  color: var(--secondary-color);
  margin-top: 15px;
}

.points-badge {
  background-color: var(--secondary-color);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
  height: 60px;
}

.floating-effect {
  transition: transform 0.3s ease-in-out;
}

.floating-effect:hover {
  transform: translateY(-2px);
}

.popup button {
  background-color: #3498db; /* 青色 */
  color: white;
  border: none;
  padding: 40px 60px;
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.popup button:hover {
  background-color: #2980b9; /* 濃い青色 */
}

.popup {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;  /* 幅を500pxに設定 */
  height: 800px; /* 高さも500pxに設定して正方形にする */
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 8px 8px 0 0;
  }

  button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
}


/* Font Styles */
@font-face {
  font-family: 'MPLUS1p';
  src: font-url('MPLUSRounded1c-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {
  .side-menu {
    width: 80px;
  }
}

@media (max-width: 576px) {
  h1.display-5 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .side-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
  }
}

@media (max-width: 767.98px) and (orientation: landscape) {
  h1.display-5 {
    font-size: 20px;
    margin-bottom: 10px; // マージンを調整してスペースを確保
  }

  .btn-lg {
    padding: 8px 12px;
    font-size: 16px;
    margin-bottom: 5px; // ボタン同士のスペースを確保
  }

  .main-content {
    padding: 30px 0px 0px 0px; // パディングを調整してスペースを確保
  }
}

